<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ОСТАВИТЬ ОТЗЫВ</title>
</head>
<body>
    <h1>Создание отзыва</h1>
    <form method="post">
        <input type="text" name="user_name" id="user_name" placeholder="Введите имя:"><br>
        <textarea name="text" id="text" placeholder="Введите текст:"></textarea><br>
        <input type="submit" class="btn btn-success" value="Опубликовать">
    </form>
    <br>
    <a href="{{ url_for('reviews') }}">Назад</a>
</body>
</html>