<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ГЛАВНАЯ</title>
</head>
<body>
    <h1>Главная</h1>
    <a href="{{ url_for('cats') }}">Наши котики</a>
    <a href="{{ url_for('get_cat') }}">Укотовительство</a>
    <a href="{{ url_for('reviews') }}">Отзывы</a>
    <a href="{{ url_for('price') }}">Прайс</a>
    <a href="{{ url_for('quiz_main') }}">Котоквиз</a>

    <h3>Антикафе - это уникальный тип заведения, который предлагает своим
посетителям не только напитки и закуски, но и пространство для общения,
работы и отдыха. В отличие от обычного кафе, в антикафе клиенты платят за
время, проведенное в заведении.
Основная идея антикафе заключается в том, чтобы создать комфортное и
дружелюбное пространство, где люди могут уютно посидеть, заняться
работой или просто отдохнуть.
Антикафе с котами могут быть интересны для любителей котов, которые
хотят приятно провести время, находясь в кошачьей компании.</h3>

    <h3> Котокафе «Мурси» - это место, где люди могут находиться в компании
кошек и наслаждаться кофейными напитками, закусками. Кошки могут
свободно передвигаться по помещению и взаимодействовать с посетителями.</h3>
    <!-- <image src="static/image/котокафе1.jpg" alt="тут должны быть котики" width="400" height="500"> !-->
    <table>
  <tr>
    <td><img src="static/image/котокафе1.jpg" alt="тут должны быть котики" width="400" height="500"></td>
    <td><img src="static/image/котокафе2.jpg" alt="тут должны быть котики" width="400" height="500"></td>
    <td><img src="static/image/котокафе3.jpg" alt="тут должны быть котики" width="400" height="500"></td>
  </tr>
</table>
    <h1>ПРАВИЛА ПОВЕДЕНИЯ В КОТОКАФЕ</h1>
    <h3>1. При входе в котокафе мы попросим вас снять уличную обувь и обработать руки антисептиком. У нас есть одноразовые носочки и обработанные тапочки, или же вы можете принести свою сменную обувь.</h3>
    <h3>2. Перед тем, как угостить наших котиков, обязательно уточните у работника, можно ли ему это и чем в целом лучше будет их угостить. Если хотите, мы с удовольствием дадим вам вкусности, которые они так любят.</h3>
    <h3>3. Не фотографируйте в со вспышкой.</h3>
    <h3>4. Не берите кота на руки, если он против или отдыхает.</h3>
    <h3>5. Не дёргайте за хвост, лапки, усы и ушки. Коты очень нежные создания, требующие аккуратного и бережного обращения.</h3>
    <h3>6. Не переносите котов с тех мест, где они находятся. Они уже уютно устроились и отдыхают.</h3>
    <h3>7. Не мешайте котам, если они идут в свою комнату по делам или к мискам.</h3>
    <h3>8. Не шумите, не бегайте и не прыгайте, котики могут вас испугаться!</h3>
    <table>
  <tr>
    <td><img src="static/image/якарта.png" alt="тут карта:0" width="500" height="400"></td>
    <td><h3>Мы находимся в 12-ти минутах пешком от станции метро Авиамоторная, на
улице Крузенштерна, 10к1.
Наше кафе открыто ежедневно с 10:00 до 23:00.
Котики ждут вас!</h3></td>
  </tr>
</table>
</body>
</html>