<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ПРАЙС</title>
</head>
<body>
    <h1>Прайс</h1>
    <h3>Котокафе работает в формате тайм-кафе: вы платите только за время, проведённое у нас. <br><br> <u>Стоимость пребывания на одного посетителя:</u><br>
- Первый час: 480 рублей (8 р./мин)<br>
- Второй и третий часы: по 300 рублей (5 р./мин)<br>
- Четвёртый и последующие часы не тарифицируются, то есть стоп-чек будет равен 1080 р.<br>
        <u>Скидки:</u><br>
- День рождения: скидка 50% для именинника/именинницы и 20% гостям<br>
- 20% скидка по предъявлению студенческого билета<br>
- Для детей до 5-ти лет посещение бесплатно<br>
*скидки не суммируются</h3>
<a href="{{ url_for('index') }}">на главную</a>
</body>
</html>