<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>квиз</title>
</head>
<body>
    <h1>КОТОКВИЗ</h1>
    <p>Привет! Вы попали на «КОТОКВИЗ». Ваша задача – ответить на вопросы, связанные с котами. Всего их будет 10. Быть может, вы узнаете что-то новое для себя:)<br>
Внимание! Мы призываем вас пройти квиз честно, не используя сторонние источники информации. А если вы хотите получить за прохождение скидку 10% - обратитесь к сотруднику с кодовым словом «квиз».
    </p>
     <a href="{{ url_for('quiz_pass') }}">НАЧАТЬ</a>
     <a href="{{ url_for('index') }}">На главную</a>
</body>
</html>